body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e6f7e3; /* Verde claro */
}

.contact-form {
  text-align: center;
  margin-top: 100px;
}

.contact-form__h2 {
  font-size: 1.5em; /* Tamaño de fuente para el subtítulo */
  color: #008000; /* Verde oscuro */
}

.contact-form__h1 {
  font-size: 3em; /* Tamaño de fuente para el título principal */
  color: #008000; /* Verde oscuro */
}

.contact-form__p1 {
  font-size: 1.5em; /* Tamaño de fuente para el párrafo */
  color: #008000; /* Verde oscuro */
}
